.section-three {
    background-color: #222C2A;
    color: #fff;
}

.section-four {
    background-color: #824936;
    color: #fff;
}

.col_img img {
    width: 100%;
    height: 18rem !important;
}

.col_p {
    align-self: start;
}

/* Madia Queries (small screens) */
@media (min-width:768px) {
    .intro__title {
        font-size: 3.75rem;
    }

    .section-title--dark {
        text-align: center;
    }
}